.header{
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right:20px;
}
.logo{
    position: absolute;                                          

}
.logo img{
    cursor: pointer;
}
.bar{
   margin-left: auto;
}
.shopping{
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
}
.cat-div{
    display:flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
    padding: 5px;
}
.d1{
    font-size: medium;
    cursor: pointer;
}
.f-images{
    display: grid;
    height: 60vh;
    grid-template-columns: 65% 35%;
    gap: 20px;
    justify-content: center;
    margin: 20px 40px;
}

.imge img{
    width: 100%;
    height: 100%;
}
.imge2 img{
    width: 100%;
}
.secpart-div{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.secpart-div img{
    width: 100%;
}
.secpart-img{
    text-align: center;
}
.secpart-img a{
    margin: 100px 0;
    color: black;
}
.secpart{
    display: grid;
    grid-template-columns: auto 110%;
    gap: 100px;
}
a{
    color: #1c1c1c;
}